
__pycache__/struct.cpython-310.pyc
*.pyc
cours/
api_keys/*
log/*
api_counter/counter_coingecko.txt
api_counter/counter_cryptocompare.txt
user_data_userfriendly.txt
cryptos.json
full_log.txt
CRYPTO json/*